

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome!!</>

<!-- // when logout button is pressed your directed to /user/logout  -->
<a href="/user/logout" class="btn btn-secondary">Logout</a>
